# Ignore directories
__pycache__/
*.egg-info/
*.DS_Store

# Ignore editor files
.vscode/
.idea/

# Ignore compiled files
*.pyc
*.log

# Ignore data files
datasets/*.csv
datasets/train/
datasets/valid/

# Ignore model checkpoints and logs
models/log/*.h5
models/log/*.txt

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
